.card-info {
  padding: 12px 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.card-info li {
  padding: 12px 16px;
  color: $c6;
  background: $g0;
  border-image: $g2 1;
  border-style: solid;
  border-width: 2px;
}
