.container-cards {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.card {
  width: 138px;
  // height: 245px;
  background: $g0;
  border-image: $g2 1;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
}

.card-photo img {
  width: 100%;
  height: auto;
}

.card-info { 
  padding: 12px 0;
  text-align: center;
}