// Colors Base
$c1: #1a1a1a;
$c2: #302f2f;
$c3: #585858;
$c4: #8a8787;
$c5: #cdcccc;
$c6: #f3eeee;

// Gradients
$g0: rgba(255, 255, 255, 0.05);
$g1: linear-gradient(172.92deg, #0f0e37 5.45%, #080817 51.32%, #000000 93.48%);
$g2: linear-gradient(134.17deg, #1cafde 7.82%, #194a93 100.33%);