@import "../scss/_colors";

.font-title-bg {
  font: 600 2rem/1 "Manrope", sans-serif;
  color: $c6;
}


.font-menu {
  font: 700 1.5rem/2 "Manrope", sans-serif;
}

.font-menu-footer {
  font: 700 1.25rem/1 "Manrope", sans-serif;
}

.font-body-subTitle {
  font: 700 1rem/1 "Manrope", sans-serif;
  color: $c6;
}

.font-body {
  font: 600 1rem/1.5 "Manrope", sans-serif;
  color: $c4;
}

.font-gradient {
  background-image: $g2;
  background-clip: text;
  -webkit-background-clip: text; /* Para compatibilidade com o Safari */
  color: transparent;
  text-decoration: none;
}