.footer {
  margin-top: 100px;
  color: #fff;
}

.footer-container {
  border-top: 2px solid #1cafde;
  padding: 32px 20px;
  display: grid;  
  grid-template-columns: 1fr 1fr 3fr;
}

.container-menu {
  display: flex;
  gap: 100px;
}

.container-menu ul {
  display: grid;
  gap: 12px;
}

// .menu-title {
//   margin-bottom: 12px;
// }

// .container-menu a {
//   padding-bottom: 12px;
// } 


.footer-container p {
  text-align: end;
}