.footer {
  margin-top: 100px;
<<<<<<< HEAD
  color: $c6;
=======
  color: #fff;
>>>>>>> 194b8b61bb0dbaf22cf3550126ff40bbe23f97cc
}

.footer-container {
  border-top: 2px solid #1cafde;
  padding: 32px 20px;
<<<<<<< HEAD
  display: grid;
=======
  display: grid;  
>>>>>>> 194b8b61bb0dbaf22cf3550126ff40bbe23f97cc
  grid-template-columns: 1fr 1fr 3fr;
}

.container-menu {
  display: flex;
  gap: 100px;
}

.container-menu ul {
  display: grid;
  gap: 12px;
}

<<<<<<< HEAD
.container-menu a {
  color: $c6;
}

.footer-container p {
  text-align: end;
}

@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .footer-container p {
    text-align: left;
  }
=======
// .menu-title {
//   margin-bottom: 12px;
// }

// .container-menu a {
//   padding-bottom: 12px;
// } 


.footer-container p {
  text-align: end;
>>>>>>> 194b8b61bb0dbaf22cf3550126ff40bbe23f97cc
}